<div id="album">
<h3>Page 9</h3>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li><a href="page_7.html" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
<li><a href="page_0.html">1</a></li>
<li><a href="page_1.html">2</a></li>
<li><a href="page_2.html">3</a></li>
<li><a href="page_3.html">4</a></li>
<li><a href="page_4.html">5</a></li>
<li><a href="page_5.html">6</a></li>
<li><a href="page_6.html">7</a></li>
<li><a href="page_7.html">8</a></li>
<li class="active"><a href="page_8.html">9</a></li>
</ul>
</nav>
</div><div id="pictures" style="width:554px; height:594px">
<img src="../img/rIMG_2049.jpg" width="250" height="187">
<img src="../img/rIMG_2048.jpg" width="250" height="187">
<img src="../img/rIMG_1942.jpg" width="250" height="187">
<img src="../img/rIMG_2020.jpg" width="250" height="187">
<img src="../img/rIMG_2018.jpg" width="250" height="187">
<img src="../img/rIMG_1954.jpg" width="250" height="187">
</div>
<div id="navigation">
<nav aria-label="Page navigation">
<ul class="pagination">
<li><a href="page_7.html" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
<li><a href="page_0.html">1</a></li>
<li><a href="page_1.html">2</a></li>
<li><a href="page_2.html">3</a></li>
<li><a href="page_3.html">4</a></li>
<li><a href="page_4.html">5</a></li>
<li><a href="page_5.html">6</a></li>
<li><a href="page_6.html">7</a></li>
<li><a href="page_7.html">8</a></li>
<li class="active"><a href="page_8.html">9</a></li>
</ul>
</nav>
</div></div>
